{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <title>Learn Django</title>
    <link rel="stylesheet" type="text/css" href="{% static 'css/todo.css' %}">
    <link href = "https://fonts.googleapis.com/css?family=Raleway" rel="stylesheet">
    <h1>TODO</h1>
    <ul id="list">
        {% for i in  all_todo %}
        <li>{{ i.content }}
        <form action="/deletetodo/{{i.id}}/"
              style="display: inline;"
              method="post">{% csrf_token %}
            <input type="submit" value="Delete"/>
        </form>
        </li>
        {% endfor %}
    </ul>
    <form id="formtodo" action="/addtodo/" method="post">{% csrf_token %}
        <input type = "text" id="content" name="Content" placeholder="Enter Task" required/>
        <input type = "submit" value="Add"/>
    </form>
</head>
</html>